<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kimzing.news.repository.comment.CommentMapper">
    <sql id="all_column">id,deleted,creator,modifier,create_time,modify_time,article_id,user_id,content</sql>
    <sql id="po_column">article_id,user_id,content</sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO `comment`(<include refid="po_column"></include>)
        VALUES(#{articleId},#{userId},#{content});
    </insert>

    <insert id="insertBatch">
        INSERT INTO `comment` (<include refid="po_column"></include>) VALUES
        <foreach item="item" collection="list" separator=",">
            (#{item.articleId},#{item.userId},#{item.content})
        </foreach>
    </insert>

    <update id="update">
        UPDATE `comment`
        <set>
            <if test="articleId != null">article_id = #{articleId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="content != null">content = #{content},</if>
        </set>
        WHERE id = #{id} AND deleted = 0;
    </update>

    <delete id="delete">
        UPDATE `comment` SET deleted = 1 WHERE id = #{id}
    </delete>

    <select id="selectById" resultType="com.kimzing.news.domain.comment.CommentBO">
        SELECT <include refid="all_column"></include> FROM `comment` WHERE id = #{id} AND deleted = 0
    </select>

    <resultMap id="comment" type="com.kimzing.news.domain.comment.CommentBO">
        <association column="user_id" property="commentUser"
                     javaType="com.kimzing.news.domain.user.UserBO"
                     select="com.kimzing.news.repository.user.UserMapper.selectById">
        </association>
    </resultMap>
    <select id="selectPage" resultMap="comment">
        SELECT <include refid="all_column"></include> FROM `comment`
        <where>
            AND deleted = 0
            <if test="query != null">
                <if test="query.articleId != null">AND article_id = #{query.articleId}</if>
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>
